.registerBtn{
    background: #E2E2E2;
    a{
      color: var(--title-gray);
      text-decoration: none;
    }
  }
  .loginBtn{
    background: #8DD9CE;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }