.bookingSuccessContainer {
  width: 800px;
  height: 700px;
  border: 1px solid #ccc;
  margin: 20px auto;
}

.bookingSuccessContainer h2 {
  font-size: 30px;
  color: blue;
  margin: 10px 280px;
}

.bookingSuccessContainer h1 {
  font-size: 30px;
  color: blue;
  margin: 10px 150px;
}

.hotelSuccessBtn {
  width: 100px;
  height: 70px;
  left: 35%;
  margin-inline: 20px;
  position: relative;

  background-color: #ffb544;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
