section.background-img {
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  transition: all 0.75s ease;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .filter {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    min-height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  h3 {
    color: white;
    background: transparent;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0 0 10px #666;
  }
}
