.hotelBookingInfoContainer {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 50px;
}

.hotelBookingMember {
  width: 600px;
  height: 500px;
  border-radius: 20px;
  margin-top: 50px;
  margin-right: -100px;
}

.hotelBookingHotel {
  width: 650px;
  height: 500px;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid #8dd9ce;
  text-align: start;
  display: flex;
  align-items: top;
  justify-content: space-around;
  background-color: white;
}

.hotelFormContainer {
  display: flex;
  align-items: start;
}

.hotelFormDetail {
  padding: 10px;
}
.profileArea {
  display: flex;
  justify-content: space-between;
  button {
    border-radius: 5px;
    background-color: #8dd9ce;
    color: #fff;
    font-size: 13px;
  }
}
.formHeader {
  display: flex;
  max-width: 600px;
  margin: 0;
  width: 90%;
  margin: auto;
}
.formHeader button {
  flex: 0 0 25%;
  font-size: 16px;
  border: 1px solid #8dd9ce;
  border-bottom: none;
  margin-right: 20px;
  border-radius: 10px 10px 0px 0px;
}

.formHeader button.active {
  background-color: #8dd9ce;
  color: #fff;
}
.top-login-btn {
  background: #8dd9ce;
  color: #fff;
  text-decoration: none;
}

.group span {
  font-size: 13px;
}
.group select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #8dd9ce;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.group span {
  display: block;
  margin: 0 0 10px;
}
#pet-select {
  margin-top: 0px;
}
#email {
  margin-bottom: 0;
}

.cancel-btn {
  font-size: 13px;
  margin-right: 10px;
}

.member-button.logoutBtn {
  padding: 10px;
}

.hbiImg {
  width: 300px;
  height: auto;
  padding-top: 10px;
  align-items: center;
  object-fit: cover;
  margin-right: 30px;
}

.hotelBookingInfoBtn {
  background: #8dd9ce;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  width: 180px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .group select {
    font-size: 16px;
  }
  .group span {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  button {
    font-size: 16px;
  }
  .profileArea button {
    font-size: 16px;
  }
}
